@import '../../scss/variables.scss';

aside {
    width: 24rem;
    background-color: $color-primary;
    padding: 1.2rem 1.2rem 2rem 1.28rem;
    color: $color-white;
    position: relative;
    flex-shrink: 0;
}

.toggle-menu {
    padding-right: 1rem;
    text-align: right;
}

.sidebar-logo {
    width: 11rem;
    height: 4.4rem;
    margin: 1.3rem auto 5.1rem 0;
    padding-left: 1.12rem;
}

.menu {
    padding-left: 1.12rem;

    &-list {
        list-style-type: none;

        &__item {
            cursor: pointer;
            display: flex;
            align-items: center;
            column-gap: .9rem;
            color: $color-white;

            &--active {
                background-color: $color-white;
                height: 5.2rem;
                width: 23.4rem;
                border-top-left-radius: 2.6rem;
                border-bottom-left-radius: 2.6rem;
                margin-left: -1.2rem;
                padding-left: 1.2rem;
                position: relative;
                color: $color-primary;

                & svg {
                    fill: $color-primary;
                }

                &::after {
                    content:  url('../../assets/top-corner.svg');
                    position: absolute;
                    right: .4rem;
                    top: -.9rem;
                    width: 1.6rem;
                    height: 1rem;
                }

                &::before {
                    content:  url('../../assets/bottom-corner.svg');
                    position: absolute;
                    right: .4rem;
                    bottom: -.9rem;
                    width: 1.6rem;
                    height: 1rem;
                }
            }
        }

        &__item:not(:last-child) {
            margin-bottom: 2.8rem;
        }
    }
}

.sidebar-profile {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    
    height: 6rem;
    border-top: .1rem solid rgba(158, 185, 255, 0.2);
    padding: 2rem 1.2rem 2rem 1.4rem;
   

    &__user {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &--image {
            height: 1.8rem;
            width: 1.8rem;
            border-radius: 50%;
            border: .1rem solid $color-white;

            background-color: #9EC8FF;
            color: $color-primary;

            display: flex;
            align-items: center;
            justify-content: center;
        }

        &--dot-menu {
            background-color: red;
            align-self: self-end;
        }
    }
}